body {background-color:#000000}
h1{
  font-family: "Verdana", sans-serif;
  color: #F5ab3C;
  font-size: 72px;
  text-shadow: 2px 2px #F17124;
  font-weight: bold;
  text-align: center;
  /* The next three lines make text unselectable */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2{
  font-family: "Verdana", sans-serif;
  color: #F5ab3C;
  font-size: 50px;
  text-shadow: 2px 2px #F17124;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
  font-family: "Verdana", sans-serif;
  color: #F5ab3C;
  font-size: 50px;
  text-shadow: 2px 2px #F17124;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table{
  font-family: "Verdana", sans-serif;
  color: #F5ab3C;
  font-size: 50px;
  text-shadow: 2px 2px #F17124;
  text-align: left;
  padding: 12px;
  border-collapse: collapse;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="number"] {
  font-size: 60px;
  border: 5px solid #F17124;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #fdf0e7;
  display: block;
  margin: auto;
}
input[type="checkbox"] {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
tr:nth-child(odd){
  background-color: #222222; 
}
tr:first-child{
  background-color: #333333;
}
tr.separator {
  background-color: #F17124;
}
th{
  text-align: center;
}        
th, td {
  padding: 8px;
}



button{
  font-family: "Verdana", sans-serif;
  color: #F17124;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  border-radius: 50px;
  width: 650px;
  height: 100px;
  background-color: #F5ab3C;
  border: none;
  box-shadow: 0px 5px #F17124;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



form{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Verdana", sans-serif;
  color: #F5ab3C;
  font-size: 50px;
  text-shadow: 2px 2px #F17124;
  font-weight: bold;
  text-align: left;
  background: repeating-linear-gradient(180deg, #222222 0px 222px, #000000 0px 442px);
  label {
    padding: 0px 0px 0px 16px;
  }
  input[type=number]{
    font-size: 60px;
    border: 5px solid #F17124;
    border-radius: 50px;
    text-align: center;
    width: 750px;
    height: 100px;
    margin: 8px 0px 36px 0px;
    background-color: #fdf0e7;
  }
  input[type=string]{
    font-size: 60px;
    border: 5px solid #F17124;
    border-radius: 50px;
    text-align: center;
    width: 750px;
    height: 100px;
    margin: 8px 0px 36px 0px;
    background-color: #fdf0e7;
  }
  select{
    font-size: 60px;
    border: 5px solid #F17124;
    border-radius: 50px;
    text-align: center;
    width: 750px;
    height: 100px;
    margin: 8px 0px 36px 0px;
    background-color: #fdf0e7;
  }
  input[type=button], [type=submit]{
    font-family: "Verdana", sans-serif;
    color: #F17124;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-radius: 50px;
    width: 450px;
    height: 100px;
    background-color: #F5ab3C;
    border: none;
    box-shadow: 0px 5px #F17124;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: auto;
  padding: 10px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#ED303C 94%,#0000),
    radial-gradient(farthest-side,#3B8183 94%,#0000),
    radial-gradient(farthest-side,#FAD089 94%,#0000),
    radial-gradient(farthest-side,#FF9C5B 94%,#0000),
    #ED303C;
  background-size: 105% 105%;
  background-repeat: no-repeat;
  animation: l5 2s infinite; 
}
@keyframes l5 {
  0%  {background-position: 50% -50px,-40px 50%, 50% calc(100% + 50px),calc(100% + 50px) 50%}
  20%,
  25% {background-position: 50% -50px,-50px 50%, 50% calc(100% + 50px),50% 50%}
  45%,
  50% {background-position: 50% -50px,-50px 50%, 50% 50%              ,50% 50%}
  75%,
  75% {background-position: 50% -50px, 50%  50%, 50% 50%              ,50% 50%}
  95%,
  100%{background-position: 50%  50% , 50%  50%, 50% 50%              ,50% 50%}
}